@import "mixin";

.container {
	width: 99.8%;
	height: 800px;
	float: left;
	margin-top: 20px;
	background-repeat: repeat-x;
	background-color: #ffffff;
	-webkit-box-shadow: inset 1px 3px 1px -2px #d4d3d3;
	-moz-box-shadow: inset 1px 3px 1px -2px #d4d3d3;
	box-shadow: inset 1px 3px 1px -2px #d4d3d3;
	.rows {
		max-width: 960px;
		margin: 0 auto;
	}
	.cols {
		.item {
			width: 218px;
			min-height: 200px;
			background-color: #fff;
			float: left;
			margin: 5px 10px;
			border: 1px solid #cdcdcd;
			@include vendorBoxShadow($value: 1px 1px 5px #888);
			@include venderMultiTransition($property: 'margin, background-color', $duration : .25s, $timing: linear);
			@include venderBorderRadius(5px, 5px ,5px, 5px);
			.top, .center, .bottom {
				width: 100%;
				float: left;
			}
			.center {
				height: 70%;
				min-height: 200px;
				img {
					margin: 20px 20px;
					padding: 4px;
					border: 1px solid #eee;
				}
			}
			.bottom {
				border-top: 1px solid #eee;
				height: 30%;
				min-height: 100px;
			}
		}
		.item:hover {
			margin-left: 20px;
			margin-right: 0px;
		}
	}
}