@mixin vendorBoxShadow ($value) {
	-webkit-box-shadow: $value;
     -moz-box-shadow: $value;
       -o-box-shadow: $value;
          box-shadow: $value;
}

.container {
	width: 99.8%;
	height: 800px;
	float: left;
	margin-top: 20px;
	background-repeat: repeat-x;
	background-color: #ffffff;
	-webkit-box-shadow: inset 1px 3px 1px -2px #d4d3d3;
	-moz-box-shadow: inset 1px 3px 1px -2px #d4d3d3;
	box-shadow: inset 1px 3px 1px -2px #d4d3d3;
	.rows {
		max-width: 960px;
		margin: 0 auto;
	}
	.cols {
		.item {
			width: 218px;
			min-height: 200px;
			background-color: orange;
			float: left;
			margin: 5px 10px;
			border: 1px solid #cdcdcd;
			@include vendorBoxShadow($value: 1px 1px 5px #888);
			.top, .center, .bottom {
				width: 100%;
				float: left;
			}
			.center {
				height: 70%;
				min-height: 200px;
			}
			.bottom {
				background-color: grey;
				height: 30%;
				min-height: 100px;
			}
		}
	}
}