.container
	.rows
		.showrom-controls
			.caption
				h2 Lastest Product 
		.cols
			.item
				.center
					img(src="/frontend/images/1.jpg", alt="item")
				.bottom
					.item-info
					.item-price
			.item
				.center
					img(src="/frontend/images/2.jpg", alt="item")
				.bottom
			.item
				.center
					img(src="/frontend/images/3.jpg", alt="item")
				.bottom
			.item
				.center
					img(src="/frontend/images/4.jpg", alt="item")
				.bottom
		.showrom-footer