header.clearfix
	.top-menu
		nav
			ul
				li
					a(href="javascript:void(0)") Home
				li
					a(href="javascript:void(0)") Services
				li
					a(href="javascript:void(0)") About
				li
					a(href="javascript:void(0)") Login
	.navbar-collapse
		.navbar-header
			a.navbar-header-menu(href="javascript:void(0)") Menu
		nav.navbar-collapse-menu
			ul
				li
					a(href="javascript:void(0)") Services
				li
					a(href="javascript:void(0)") About
				li
					a(href="javascript:void(0)") Login
	.top-caption
		h1.caption This is caption on top
	.top-banner
		ul.bxslider
			li
				img(src="http://bxslider.com/images/home_slides/houses.jpg")
			li
				img(src="http://bxslider.com/images/home_slides/hillside.jpg")		