header
	.top-menu
		nav
			ul
				li
					a(href="javascript:void(0)") Home
				li
					a(href="javascript:void(0)") Services
				li
					a(href="javascript:void(0)") About
				li
					a(href="javascript:void(0)") Login
	.top-banner