doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/frontend/css/main.css')
    link(rel='stylesheet', href='/frontend/lib/jquery.bxslider/jquery.bxslider.css')
    script(src='/frontend/js/jquery.js')
    script(src='/frontend/js/navbar.js')
    script(src='/frontend/lib/jquery.bxslider/jquery.bxslider.min.js')
  body
    block content